SERVER_PORT=8080

POSTGRES_DB=movie_booking
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mat_khau_cua_ban

DB_URL=jdbc:postgresql://localhost:5432/movie_booking
DB_USERNAME=postgres
DB_PASSWORD=mat_khau_cua_ban